@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #535C91 ;
    opacity: 0.3;
}